/* リセットcss */
*{
  padding: 0px;
  margin: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}



.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

/* メインビジュアル */


header .main-visual{
  width:1440px;
  height:790px;
  background-image: url(images/background4.jpg);
  background-size: cover;
  background-position: center;
}

header .main-visual #logo{
  width:902px;
  height:239px;
  display:block;
  margin:0px auto;
  padding-top: 177px;
}

header p{
  font-family: 'Futura-LigObl';
  font-size: 45px;
  color: #ffffff;
  padding-top: 35px;
  text-align: center;
}


nav{
  overflow: hidden;
  margin-top: 30px;
  margin-right: 63px;
  float: right;
}

nav a{
  text-decoration: none;
  display: block;
  font-family: 'Futura-Boo';
  font-size: 26px;
  padding: 0 33px;
  color: #ffffff;
}

nav li{
  list-style-type: none;
  float: left;
}

nav a:last-of-type{
  padding-right: 0px;
}

nav a:hover{
  color:#3d5cdb;
  transition: 0.7s;
}

@media screen and (max-width:479px){
  .all{
    width: 100%;
  }

  header nav{
    display: none;
  }

  header .main-visual{
    width: 100%;
  }

  header .main-visual #logo{
    width: 280px;
    height: auto;
    padding-top:350px;
  }

  header p{
    font-size: 20px;
    padding-top: 25px;
  }
}

/* イントロダクション */

.introduction{
  width: 100%;
  height:auto;
}

.intro-wrapper{
  width: 1040px;
  height:auto;
  margin: 0 auto;
  overflow: hidden;
}

.introduction .title{
  color:#3d5cdb;
  font-family:'Futura-Boo';
  font-size: 54px;
  text-align: center;
  padding-top: 50px;
}

.intro1{
  margin-top: 60px;
  margin-bottom: 95px;
}

.intro2{
  margin-bottom: 75px;
}

.intro-wrapper .intro-img1{
  width:500px;
  height:333px;
  float: left;
}

.intro-wrapper p{
  font-family: 'ヒラギノ角ゴシック Pro W3';
  font-weight:30;
  font-size: 16px;
  letter-spacing: 0px;
  font-feature-settings: "palt";

}

.intro-wrapper .intro-right{
  width: 400px;
  height:333px;
  float: left;
  padding-left: 90px;
}

.intro-wrapper .intro-right p{
  text-align: left;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.intro-wrapper .intro-left{
  height:333px;
  width: 400px;
  float: left;
  margin: 0 48px;
}


.intro-wrapper .intro-img2{
  width:500px;
  height:333px;
  float: right;
}

.intro-wrapper .intro-left p{
  text-align: left;
  line-height: 30px;
  padding-top: 33px;
  padding-bottom: 35px;
}

.intro-wrapper .responsive-intro-left p{
  text-align: left;
  line-height: 30px;
  padding-top: 33px;
  padding-bottom: 35px;
}

.intro-wrapper .responsive-intro-left{
  display: none;
}

.introduction .add-button{
  text-decoration: none;
  padding: 10px 45px;
  border-radius: 12px;
  margin-left: 115px;
  font-size: 20px;
  font-weight:bold;
}

.introduction .button1{
  color:white;
  background-color: #3d5cdb;
  border: 1px solid #3d5cdb;
}

.introduction .button2{
  color:white;
  background-color: #ffbf00;
  border: 1px solid #ffbf00;
}

.introduction .add-button:hover{
  box-shadow: 0 0 10px rgba(46,45,45,0.5);
}


@media screen and (max-width:479px){
 .introduction .title{
    font-size: 35px;
    margin-top: 10px;
  }

  .intro-wrapper p{
    font-size: 13px;
    line-height: 23px;
  }

  .intro-wrapper{
    width: 100%;
  }

  .intro-wrapper .intro-img1{
    float: none;
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .intro-wrapper .intro-right{
    float: none;
    padding-left: 0;
    padding-bottom: 30px;
    margin: 30px auto;
    width: 83%;
  }

  .intro-wrapper .intro-left{
    float: none;
    display: none;
  }

  .intro-wrapper .intro-img2{
    float: none;
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: -110px;
  }

  .intro-wrapper .responsive-intro-left{
    display: block;
    margin: 30px auto;
    width: 83%;
  }

  .introduction .add-button{
    padding: 10px 45px;
    border-radius: 12px;
    font-size: 17px;
    margin-left:85px;
  }
}

/* courses */
.courses{
  position: relative;
  width: 100%;
  height:935px;
}

#particles-js{
  background-color: rgba(186, 213, 245,0.7);
  width: 100%;
  height:935px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

}

.courses-wrapper{
  position: absolute;
  left: 110px;
}

.courses .title{
  color:#3d5cdb;
  font-family:'Futura-Boo';
  font-size: 54px;
  text-align: center;
  padding-top: 45px;
  margin-bottom: 60px;
}

.courses-card1{
  width: 240px;
  height: 340px;
  background-color: #ffffff;
  border-radius: 12px;
  margin-right: 20px;
  margin-bottom: 33px;
}

 .courses-card1:last-child{
  margin-right: 0px;
}

.courses-card2{
  width: 240px;
  height: 340px;
  background-color: #ffffff;
  border-radius: 12px;
  margin-right: 20px;
  margin-bottom: 58px;
}

.courses-card2:last-child{
  margin-right: 0px;
}

.card-container{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.course_img1{
  width:100px;
  height:auto;
  display: block;
  margin: 30px auto 0px;
}

.course_img2{
  width:100px;
  height:auto;
  display: block;
  margin: 54px auto 0px;
}

.course_img3{
  width:100px;
  height:auto;
  display: block;
  margin: 60px auto 0px;

}

.course-name{
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color:#203A5B;
  margin-bottom: 30px;
}

.course-button{
  font-size: 13px;
  font-weight: bold;
  padding: 13px 30px;
  margin-left: 31px;
  text-decoration: none;
}

.course-button:hover{
  box-shadow: 0 0 10px rgba(46,45,45,0.5);
}

.course-name1{
  margin-top: 35px;
}


.course1{
  color:#ffffff;
  border: 1px solid #f16629;
  background-color: #f16629;
  border-radius: 12px;
}


.course-name2{
 margin-top: 23px;
}

.course2{
  color:#ffffff;
  border: 1px solid #29a9df;
  background-color: #29a9df;
  border-radius: 12px;
}

.course-name3{
 margin-top: 53px;
}

.course3{
  color:#ffffff;
  border: 1px solid #333333;
  background-color: #333333;
  border-radius: 12px;
}

.course-name4{
 margin-top: 53px;
}

.course4{
  color:#ffffff;
  border: 1px solid #ff5252;
  background-color: #ff5252;
  border-radius: 12px;
}

.course-name5{
 margin-top: 35px;
}

.course5{
  color:#ffffff;
  border: 1px solid #fed700;
  background-color: #fed700;
  border-radius: 12px;
}

.course-name6{
 margin-top: 55px;
}

.course6{
  color:#ffffff;
  border: 1px solid #fe7535;
  background-color: #fe7535;
  border-radius: 12px;
}

.course-name7{
 margin-top: 44px;
}

.course7{
  color:#ffffff;
  border: 1px solid #72cfdd;
  background-color: #72cfdd;
  border-radius: 12px;
}

@media screen and (max-width:479px){
  .courses{
     width: 100%;
     height:1300px;
     margin-bottom: 50px;
  }

  #particles-js{
    width: 100%;
    height:1350px;
  }

  .courses-wrapper{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }



  .courses .title{
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
  }

  .card-top{
    display: block;
  }

  .card-bottom{
    display: block;
  }

  .courses-card1{
    padding-top: 30px;
    width: 160px;
    height: 220px;
  }

   .courses-card2{
    padding-top: 30px;
    width: 160px;
    height: 220px;
  }

   .courses-card3{
    padding-top: 30px;
    width: 160px;
    height: 220px;
  }

  .course_img1{
    width:80px;
    height:120px;
    display: block;
    margin: 0px auto 0px;
  }

  .course_img2{
    width:90px;
    height:auto;
    display: block;
    margin: 15px auto 0px;
  }

  .course_img3{
    width:100px;
    height:90px;
    display: block;
    margin: 10px auto 40px;
  }

  .course-name{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color:#203A5B;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .course-button{
    font-size: 3px;
    letter-spacing: -1px;
    padding: 13px 7px;
    margin-left: 34px;
    border-radius: 30px;
  }

  .card-container{
  width: 360px;
  margin: 0 auto;
  padding-left: 17px;

  }

  .responsive-card{
  margin-top: -25px;
  }
}
/* images */

.images{
  width:100%;
  height:400px;
  position: relative;
}

.images .title{
  color:#3d5cdb;
  font-family:'Futura-Boo';
  font-size: 54px;
  text-align: center;
  padding-top: 45px;
  margin-bottom: 75px;
}

.prev{
  position: absolute;
  top: 85px;
  left:-23px;
  z-index:2;
  font-size: 18px;
}

.next{
  position: absolute;
  top: 85px;
  right:-23px;
  z-index:2;
  font-size: 18px;
}

.slider{
  width: 1160px;
  margin: 0 auto;
}

.slider-image{
  width:290px;
  height:190px;
}

@media screen and (max-width:479px){
   .images .title{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 45px;
  }

  .slider{
    width: 330px;
    margin: 0 auto;
    background-color: aqua;
  }

  .slider-image{
    width:330px;
    height:auto;
  }

  .prev{
    position: absolute;
    top: 90px;
    left:-23px;
    z-index:2;
    font-size: 18px;
  }

  .next{
    position: absolute;
    top: 90px;
    right:-23px;
    z-index:2;
    font-size: 18px;
  }
}

/* access */

.access{
  width: 100%;
  height:640px;
}

.map{
  display: block;
  margin: 0 auto;
  width:600px;
  height:400px;
}

.access .title{
  color:#3d5cdb;
  font-family:'Futura-Boo';
  font-size: 54px;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 45px;
}

@media screen and (max-width:479px){
  .access{
    width: 100%;
    height:auto;
    margin-bottom: 30px;
  }

  .access .title{
    font-size: 35px;
    margin-top: 10px;
    padding-top: 55px;
    padding-bottom: 25px;
  }

  .map{
    width: 100%;
    height: 300px;
  }
}

/* footer */
.copy{
  color:#3d5cdb;
  line-height: 60px;
  text-align: center;
  font-family: 'Futura-Boo';
}

/* フワッとアニメーション */

.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}